<html>
  <head>
    <title>CMS</title>
    <link href="/stylesheets/styles.css/" rel="stylesheet" type="text/css">
  </head>

  <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>

    <% if session[:signed_in] %>
      <%= yield %>

      <div>

        <span class="inline"><%= "Signed in as #{session[:username]}" %></span>

        <form class="inline" method="get" action="/sign-out">
          <button>Sign Out</button>
        </form>

      </div>

    <% else %>
      <form method="get" action="/sign-in">
        <button>Sign In</button>
      </form>
    <% end %>

  </body>
</html>

